
{% extends 'myblog/index.html' %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; margin: 20px;">
    <div class="card" style="width: 100%; height: auto; max-width: 800px; border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); overflow: hidden; margin-bottom: 20px;">
        <div style="width: 100%; height: 300px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
            <img src="https://scontent.fcai19-1.fna.fbcdn.net/v/t39.30808-1/464845504_566237716078649_5782028036947040944_n.jpg?stp=dst-jpg_s200x200&_nc_cat=101&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=cEYsHlH77CkQ7kNvgE9rGIV&_nc_zt=24&_nc_ht=scontent.fcai19-1.fna&_nc_gid=ABlflM7uaeTOQ6wwZ8lJaZU&oh=00_AYCceQORzCaVUHtNKq7rLTX65R7GMz62-utrwncbfDP5Eg&oe=6722F73A" alt="صورة شخصية" style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover; border: 5px solid #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        </div>
        <div class="card-body" style="padding: 20px; text-align: center;">
            <h3 class="card-title" style="margin-bottom: 15px; background: linear-gradient(135deg, #E1B7E4 0%, #4C3C91 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; margin: 0; font-size: 24px;">
                من أنا
            </h3>
            <span class="navbar-text" style="display: block; font-size: 22px; font-weight: bold; background: linear-gradient(135deg, #E1B7E4 0%, #4C3C91 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; margin-bottom: 20px;">
                👨‍💻𝑴𝒐𝒉𝒂𝒎𝒆𝒅 𝑯𝒆𝒔𝒉𝒂𝒎
            </span>
            <p class="card-text" style="font-size: 18px; line-height: 1.6; color: #333; margin-bottom: 20px;">
                مرحباً! أنا مطور ويب شغوف بتطوير تطبيقات الويب باستخدام تقنيات حديثة. لدي شغف بالتعلم المستمر وتحسين مهاراتي في البرمجة. أعمل بشكل رئيسي على تطوير تطبيقات باك إند باستخدام Django وPython، وأستمتع بتصميم واجهات المستخدم باستخدام HTML وCSS وJavaScript.
            </p>
        </div>
    </div>

    <div class="card" style="width: 100%; height: auto; max-width: 800px; border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); overflow: hidden;">
        <div style="width: 100%; height: 300px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
            <img src="https://media.istockphoto.com/id/1717971342/photo/a-medical-worker-holding-virtual-hologram-of-human-skeleton-in-his-hand-on-with-analysis-of.jpg?s=2048x2048&w=is&k=20&c=gcqo0lT6RMqToi9wdr5yvVh4Dgx833TFqSa9KCRtcag=" alt="صورة البحث" style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover; border: 5px solid #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        </div>
        <div class="card-body" style="padding: 20px; text-align: center;">
            <h3 class="card-title" style="margin-bottom: 15px; background: linear-gradient(135deg, #E1B7E4 0%, #4C3C91 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; margin: 0; font-size: 24px;">
                موضوع البحث
            </h3>
            <span class="navbar-text" style="display: block; font-size: 22px; font-weight: bold; background: linear-gradient(135deg, #E1B7E4 0%, #4C3C91 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; margin-bottom: 20px;">
                "الذكاء الاصطناعي كقرين: دمج البيولوجيا والتكنولوجيا لخلق تجارب إنسانية جديدة واستنساخ الروح البشرية عبر الذكاء الاصطناعي"
            </span>
            <p class="card-text" style="font-size: 18px; line-height: 1.6; color: #333; margin-bottom: 20px;">
                إذا كان لكل إنسان قرين من الجن يُرافقه في حياته وبعد موته, فلماذا لا يتم تطبيق هذا عبر الذكاء  الاصطناعي؟ 
            </p>
        </div>
    </div>
</div>
{% endblock %}


